@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
*{
  --font-menu: 'BioRhyme', serif;
  --font-color: #d5d5d5;
  --color-font-header: rgba(12, 60, 12, 1);
  --bg-color-panels: #093f09;
  --bg-table-odd: #0c4e0c;
  --bg-table-even: #0d550d;
  --border: 4px ridge #254e25;

  --color-primary: rgba(0, 149, 121, 0.7);
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1e781e url("../images/background.jpg");
  font-family: var(--font-menu);
}

header{
  margin-top: -4px;
  background: linear-gradient(#196319, #227622);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 6px double var(--bg-color-panels);
}
.label{
  font-family: 'Henny Penny', cursive;
  color: var(--color-font-header);
  font-size: 36px;
  text-align: center;
}
.fa-solid{
  color: var(--color-font-header);
}
.fa-question{
  font-size: 40px;
  color: #082308;
  position: absolute;
  top: 12px;
  left: 32px;
  z-index: 1;
}

.how-to-play{
  padding-top: 10px;
  padding-left: 20px;
}
#how-to-play--checkbox{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ffffff30;
  appearance: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 30px #00000036;
  z-index: 2;

}
#how-to-play--checkbox:hover{
  background-color: #ffffff44;
}
#how-to-play--checkbox:active{
  transform: scale(0.93);
}
#how-to-play--checkbox:active ~ .fa-question{
  transform: scale(0.93);
}
#how-to-play--text{
  font-family: var(--font-menu);
  font-size: 20px;
  color: whitesmoke;
  position: absolute;
  top: 50px;
  left: 70px;
  width: 74%;
  height: auto;
  display: block;
  border-radius: 15px;
  box-shadow: 0 0 30px #00000056;
  backdrop-filter: blur(80px);
  transform-origin: top left;
  transform: scale(0);
  transition: transform 0.3s;
  z-index: 1;
}
#how-to-play--checkbox:checked ~ #how-to-play--text { transform: scale(1); }

#restart{
  position: absolute;
  left: 95%;
  font-size: 34px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #ffffff40;
  box-shadow: 0 0 30px #00000036;
}
.fa-arrow-rotate-right{
  color: #08230899;
  margin-top: 6px;
}
#restart:hover{
  background-color: #ffffff60;
}
#restart:active{
  transform: scale(0.92);
}


main{
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.values{
  font-size: 24px;
  text-decoration: underline;
  text-shadow: 0 0 10px #06a406;
}

.left-board{
  margin-top: 90px;
  padding: 30px 0;
  width: 22%;
  background-color: var(--bg-color-panels);
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
  border: var(--border);
  border-radius: 0 20px 20px 0;
}
.left-board hr{
  margin: 20px 0;
  border: var(--border);
  border-bottom: none;
}
.right-board{
  margin-top: 90px;
  padding: 30px 0;
  width: 22%;
  background-color: var(--bg-color-panels);
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
  border: var(--border);
  border-radius: 20px 0 0 20px;
}

.center-panel{
  background-color: rgba(5, 56, 5, 0.23);
  backdrop-filter: blur(2px);
  border: var(--border);
  border-top: none;
  text-align: center;
  width: 56%;
}
.remain{
  margin: 0 30%;
  font-size: 34px;
  color: #bcbcbc;
  backdrop-filter: blur(3px);
  border: 2px solid #004600;
  border-radius: 0 0 20px 20px;
}
.dice{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.checkbox{
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  display: block;
  margin: 5px auto;
}


.checkbox:checked {
  background-color: #e2e4e0;
  border: 1px solid #adb8c0;
  color: #99a1a7;
}
.checkbox:checked:after {
  padding-left: 2px;
  content: '\2714';
  font-size: 18px;
  color: #196319;
}
.throw-finish button{
  width: 100px;
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 18px;
  font-family: var(--font-menu);
  color: var(--font-color);
  text-shadow: 0 0 10px #0e1b0e;
  background: #0f5c0f;
  border-radius: 14px;
  box-shadow: 0 0 5px black;
}
.throw-finish button:hover{
  background-color: #0e580e;
  color: #bdbdbd;
}
.record{
  margin-top: 34px;
}
.record-label{
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--bg-table-even);
  border: var(--border);
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: var(--font-color);
}
tr{
  border: var(--border);
}
.player td {
  font-size: 18px;
}
.name-comb {
  height: 53px;
}
td {
  border: 2px solid #092d09;
  text-align: center;
  padding: 2px 6px;
}
td input{
  margin-top: 10px;
  transform: scale(1.4);
}
tr:nth-child(even) td {;
  background-color: var(--bg-table-even);
}
tr:nth-child(odd) td {
  background-color: var(--bg-table-odd);
}

.forgot{
  width: 34%;
  margin: 10px auto 0 auto;
  backdrop-filter: blur(1px);
  font-size: 18px;
  color: #dcdcdc;
  cursor: pointer;
  border-radius: 15px 15px 0 0;
}
.tip {
  width: 100%;
  position: absolute;
  top: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.2s;
  z-index: 4;
}
.bg-blur {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.2s;
  z-index: 2;
}
.forgot:hover {
  text-shadow: 0 0 2px whitesmoke;
}
.forgot:hover ~ .tip {
  transform: scale(1);
}
.forgot:hover ~ .bg-blur {
  transform: scale(1);
}

.enter-name {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.container {
  color: #dcdcdc;
  width: 400px;
  margin: 13% auto 0 auto;
  padding: 1.5rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border: 4px solid #73420a;
  border-radius: 10px;
  background-color: #9d5a0b;
}

.form > *:first-child{
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 22px;
}

.form__input-group {
  margin-bottom: 1rem;
  position: relative;
}
.label_enter_name {
  position: absolute;
  left: 20px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  color: #dcdcdc;
  z-index: 1;
  pointer-events: none;
  font-size: 18px;
}
.label_enter_name:before {
  content: "";
  height: 5px;
  background-color: #9e692b;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.form__input {
  font-family: inherit;
  padding: 0.8rem 1.2rem;
  width: 100%;
  height: 100%;
  border: 2px solid #186318;
  background-color: #9e692b;
  border-radius: 12px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #dcdcdc;
}

.form__input:focus {
  border: 3px solid #115311;
}
.form__input:focus + .label_enter_name,
.filled {
  top: -11px;
  left: 12px;
  color: #0b420b;
  font-size: 19px;
}
.form__input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
  color: rgba(13, 70, 13, 0.5);
}
.form__input:focus::placeholder {
  opacity: 1;
}

.form__button{
  width: 100%;
  margin-top: 20px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #dcdcdc;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  transition: background 0.2s;
}

.form__button:hover {
  background:  var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}
